html {
    font-family: 'Verdana';
    font-size: 21px;
    background-color: black;
    text-align: center;
}

.heading h1 {

    color: white;
    font-size: 50px;
    font-weight: normal;
}

.heading a {

    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

