html {
    font-family: 'Verdana';
    font-size: 21px;
    background-color: black;
    text-align: center;
}

.heading h1 {

    color: white;
    font-size: 50px;
    font-weight: normal;
}

a {

    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
    line-height: 4;
}

.heading a {
    line-height: 4;
}




video{
    color: white;
}

h3 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.travel-guide p {
    font-weight: normal;
    font-size: 21px;
    color: gray;
}

.travel-guide img {
    padding-bottom: 20px;
}


.bottom a {
    line-height: 2;
}

footer {
    margin-top:40px;
    margin-bottom:20px;
    color:gray;
    text-align:right;
    font-size: 21px;

}